language: python
python:
  # We don't actually use the Travis Python, but this keeps it organized.
  - "2.7"
  - "3.5"
  - "3.6"
git:
  - submodules: false
apt:
  packages:
  - git
  - subversion
  

install:
  - sudo apt-get update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  
  # Create conda environment
  - conda create -q -n test-environment python=3.7
  - conda activate test-environment
  # install needed modules
  - conda install -c anaconda cmake  
  
script:
  # Build blender as a python module in a conda environment
  # Copy blender
  - mkdir "$TRAVIS_BUILD_DIR/../blender-git"
  - cd "$TRAVIS_BUILD_DIR/../blender-git"
  - mv "$TRAVIS_BUILD_DIR" "$TRAVIS_BUILD_DIR/../blender-git"
  # Download Libraries (building using the recommended precompiled libraries). 
  - mkdir "$TRAVIS_BUILD_DIR/../blender-git/lib"
  - cd "$TRAVIS_BUILD_DIR/../blender-git/lib"
  - svn checkout https://svn.blender.org/svnroot/bf-blender/trunk/lib/linux_centos7_x86_64
  # Update and Build. Get latest source code and add-ons, and build.
  - cd "$TRAVIS_BUILD_DIR/../blender-git/blender"
  - make update
  - make bpy
